/* Give your page a fun background color */
body {
  background-color: #018786;
}
/* Make the header and footer a different color from the background */
header {
  background-color: #3700B3;
  color: #fff;
}

footer {
  background-color: #3700B3;
  text-align: center;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}
/* Make your p tag a different color and italic */
p {
  color: #fff;
  font-style:italic;
}
/* Put a border around your image */
img {
  border: 5px solid #555;
}
/* Change the font-family of your list */
ul {
  font-family: sans-serif;
  font-size: 20px;
}
