/* Give your page a fun background color */
body {
  margin: 0;
  background-color: #546e7a;
}

/* Make the header and footer a different color from the background */
header {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  background-color: #29434e;
  color: #fff;
  box-shadow: 0px 3px 2px #222;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  background-color: #29434e;
  text-align: center;
  box-shadow: 0px -3px 2px #222;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
  font-family: sans-serif;
  font-size: 9vmin;
  padding: 10px;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

/* Make your p tag a different color and italic */
p {
  color: #fff;
  font-style: italic;
  font-size: 2.5vmin;
}

/* Put a border around your image */
img {
  margin: 10px;
  padding: 5px;
  border: 5px solid #555;
}

/* Change the font-family of your list */
ul {
  list-style-position: inside;
  list-style-type: circle;
  text-align: left;
  font-family: monospace;
  font-size: 4vmin;
  color: #fff;
}

li {
  margin: 2vmax;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 75vh;
  align-items: center;
}
